@font-face {
    font-family: 'Agency FB';
    src: local('Agency FB'), local('Agency-FB'), url(fonts/AGENCYR.ttf) format('truetype');
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: local('Arial Rounded MT Bold'), local('ARLRDBD'), url(fonts/ARLRDBD.ttf) format('truetype');
}

@font-face {
    font-family: 'LCDMono';
    src: local('LCDMono'), local('LCDMono'), url(fonts/LCDMN___.TTF) format('truetype');
}

@keyframes myreserve {
    50% {
        background-color: black;
    }
}

body {
    cursor: auto;
    margin: 0;
    padding: 0px;
    font-family: Georgia,Utopia,Charter,serif;
    color: white;
    font-size: 20px;
}

@keyframes blinker {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes myBright {
    from {
        opacity: 0.2
    }

    to {
        opacity: 1.0
    }
}

@keyframes myOn {
    from {
        visibility: hidden
    }

    to {
        visibility: visible
    }
}

@keyframes myDim {
    from {
        opacity: 1.0
    }

    to {
        opacity: 0.2
    }
}

@keyframes myOff {
    from {
        visibility: visible
    }

    to {
        visibility: hidden
    }
}

.GearDisplay {
    cursor: pointer;
    display: block;
	position: absolute;
	left: 30px;
	top: 333px;
	width: 934px;
	height: 993px;
	z-Index: 3;
}

.limitSignDisp {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 1731px;
    top: 402px;
    /* border: 2px solid red; */
    border-radius: 50% 50% 20% 20%;
    width: 569px;
    height: 445px;
    /* z-index: 5; */
}

    .limitSignDisp:hover {
        background-color: rgba(0, 74, 127, 0.3);
        text-decoration: none;
        cursor: pointer;
    }

.dashboard {
    background-image: url("images/bg-on.png");
}

    .dashboard.game-connected.yes {
        background-image: url("images/bg-on.png");
    }

.about {
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: rgba(64, 64, 64, 0.6);
    left: 2219px;
    top: 319px;
    border-radius: 50% 50% 50% 50%;
    width: 150px;
    height: 150px;
    z-index: 5;
}

    .about:hover,
    .about:focus {
        background-color: rgba(0, 74, 127, 0.3);
        text-decoration: none;
        cursor: pointer;
    }

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: black; */
}

/* Hide the images by default */
.mySlides {
    display: none;
}
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: -10px;
    right: 10px;
    height: 100px;
    font-size: 100px;
    /* font-weight: bold; */
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 85%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: green;
    font-weight: bold;
    font-size: 70px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 32px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0px;
    width: 0px;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0px;
    top: 0px;
    border: 2px solid #777;
    box-shadow: 10px 10px 12px #888888;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1.0); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    font-family: Ariel;
    font-size: 40px;
    text-align: center; /* Centered text/links */
    margin-top: 50px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay label {
    text-decoration: none;
    font-size: 50px;
    color: white;
    display: inline-block; /* Display block instead of inline */
}

.overlay .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Display block instead of inline */
    font-size: 50px;
    margin: 4px 2px;
    border-radius: 8px;
    transition: 0.3s; /* Transition effects on hover (color) */
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.overlay .button1 {
    background-color: white;
    color: black;
    border: 5px solid #f44336;
}

    .overlay .button1:hover {
        color: white;
        background-color: #f44336;
    }

.overlay .button2 {
    background-color: white;
    color: black;
    border: 5px solid #4CAF50;
}

    .overlay .button2:hover {
        color: white;
        background-color: #4CAF50;
    }

/* The navigation links inside the overlay */
.overlay a {
    background-color: #4CAF50;
    border: none;
    color: white;
    /* padding: 8px; */
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Display block instead of inline */
    font-size: 50px;
    margin: 4px 2px;
    border-radius: 8px;
}

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.truck-placement-face {
    position: absolute;
    background-image: url("images/hpface.png");
    background-size: cover;
    left: 1540px;
    top: 318px;
    width: 212px;
    height: 212px;
}

.truck-placement-cover {
    position: absolute;
    background-image: url("images/hpcover.png");
    background-size: cover;
    visibility: hidden;
    left: 1420px;
    top: 18px;
    width: 450px;
    height: 300px;
    z-index: -2;
}

.truck-placement-pitchDeg {
    position: absolute;
    font-family: LCDMono;
    font-size: 40px;
    text-align: right;
    color: #00FF21;
    left: 1419px;
    top: 324px;
    width: 120px;
    height: 40px;
    z-index: 1;
}

.truck-placement-rollDeg {
    position: absolute;
    font-family: LCDMono;
    font-size: 40px;
    color: #00FF21;
    left: 1755px;
    top: 324px;
    width: 120px;
    height: 40px;
    z-index: 1;
}

.truck-placement-roll[data-type="meter"] {
    position: absolute;
    background-image: url("images/hpback.png");
    background-size: cover;
    visibility: hidden;
    left: 1540px;
    /* top: 213.5px; */
    width: 211px;
    height: 422px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 211px;
    -moz-transform-origin: 50% 211px;
    -ms-transform-origin: 50% 211px;
    -o-transform-origin: 50% 211px;
    transform-origin: 50% 211px;
    z-index: -3;
}

.truck-odometer,
.truck-wearCabin,
.truck-wearChassis,
.trailer-wearChassis,
.truck-wearEngine,
.truck-wearTransmission,
.truck-wearWheels,
.trailer-wearWheels,
.truck-lightsBeamHighOn,
.truck-lightsBeamLowOn,
.truck-lightsParkingOn,
.truck-oilPressureWarningOn,
.truck-airPressureWarningOn,
.truck-parkBrakeOn,
.truck-wipersOn,
.truck-fuelWarningOn,
.truck-waterTemperatureWarningOn {
    visibility: hidden;
}
.truck-electricOn.yes .truck-displayedGear {
    opacity: 1;
}

.truck-electricOn.yes .truck-odometer,
.truck-electricOn.yes .truck-wearCabin,
.truck-electricOn.yes .truck-wearChassis,
.truck-electricOn.yes .trailer-wearChassis,
.truck-electricOn.yes .truck-wearEngine,
.truck-electricOn.yes .truck-wearTransmission,
.truck-electricOn.yes .truck-wearWheels,
.truck-electricOn.yes .trailer-wearWheels,
.truck-electricOn.yes .truck-lightsBeamHighOn,
.truck-electricOn.yes .truck-lightsBeamLowOn,
.truck-electricOn.yes .truck-lightsParkingOn,
.truck-electricOn.yes .truck-oilPressureWarningOn,
.truck-electricOn.yes .truck-airPressureWarningOn,
.truck-electricOn.yes .truck-parkBrakeOn,
.truck-electricOn.yes .truck-wipersOn,
.truck-electricOn.yes .truck-fuelWarningOn,
.truck-electricOn.yes .truck-waterTemperatureWarningOn {
    visibility: visible;
}

.truck-wipersOn {
    position: absolute;
    background-color: #28281E;
    left: 1118px;
    top: 757px;
    width: 59px;
    height: 48px;
    z-index: -1;
}

.truck-wipersOn.yes {
	background-color: white;
}

.truck-parkBrakeOn {
    position: absolute;
    background-color: #28281E;
    left: 1431px;
    top: 758px;
    width: 70px;
    height: 47px;
    z-index: -1;
}

.truck-parkBrakeOn.yes {
	background-color: red;
}

.truck-airPressureWarningOn.yes {
    background-color: red;
}

.truck-airPressureWarningOn {
    position: absolute;
    background-color: #28281E;
    left: 1158px;
    top: 1134px;
    width: 114px;
    height: 85px;
    z-index: -1;
}

.truck-oilPressureWarningOn.yes {
    background-color: red;
}

.truck-oilPressureWarningOn {
    position: absolute;
    background-color: #28281E;
    left: 1511px;
    top: 1149px;
    width: 135px;
    height: 53px;
    z-index: -1;
}

.truck-fuelWarningOn.yes {
    background-color: red;
}

.truck-fuelWarningOn {
    position: absolute;
    background-color: #28281E;
    left: 1871px;
    top: 1143px;
    width: 75px;
    height: 81px;
    z-index: -1;
    opacity: 0.7;
}

.truck-waterTemperatureWarningOn.yes {
    background-color: red;
}

.truck-waterTemperatureWarningOn {
    position: absolute;
    background-color: #28281E;
    left: 2204px;
    top: 1140px;
    width: 93px;
    height: 86px;
    z-index: -1;
}

.truck-lightsParkingOn.yes {
    background-color: #00FF21;
}

.truck-lightsParkingOn {
    position: absolute;
    background-color: #28281E;
    left: 1193px;
    top: 761px;
    width: 72px;
    height: 34px;
    z-index: -1;
}

.truck-lightsBeamLowOn.yes {
    background-color: #00FF21;
}

.truck-lightsBeamLowOn {
    position: absolute;
    background-color: #28281E;
    left: 1280px;
    top: 758px;
    width: 57px;
    height: 45px;
    z-index: -1;
}

.truck-lightsBeamHighOn.yes {
    background-color: #0026FF;
}

.truck-lightsBeamHighOn {
    position: absolute;
    background-color: #28281E;
    left: 1354px;
    top: 757px;
    width: 63px;
    height: 41px;
    z-index: -1;
}

.truck-wearCabin {
    position: absolute;
    background-color: #28281E;
    left: 1026px;
    top: 816px;
    width: 66px;
    height: 65px;
    z-index: -1;
}

.truck-wearEngine {
    position: absolute;
    background-color: #28281E;
    left: 1120px;
    top: 832px;
    width: 64px;
    height: 44px;
    z-index: -1;
}

.truck-wearChassis {
    position: absolute;
    background-color: #28281E;
    left: 1282px;
    top: 829px;
    width: 53px;
    height: 44px;
    z-index: -1;
}

.truck-wearTransmission {
    position: absolute;
    background-color: #28281E;
    left: 1203px;
    top: 816px;
    width: 61px;
    height: 60px;
    z-index: -1;
}

.truck-wearWheels {
    position: absolute;
    background-color: #28281E;
    left: 1353px;
    top: 824px;
    width: 51px;
    height: 42px;
    z-index: -1;
}

.trailer-wearChassis {
    position: absolute;
    background-color: #28281E;
    left: 1423px;
    top: 835px;
    width: 98px;
    height: 20px;
    z-index: -1;
}

.trailer-wearWheels {
    position: absolute;
    background-color: #28281E;
    left: 1542px;
    top: 824px;
    width: 51px;
    height: 42px;
    z-index: -1;
}

.truck-odometer,
.truck-odometermph {
    color: #BCEE68;
    font-family: LCDMono;
    letter-spacing: 4px;
    font-size: 55px;
    position: absolute;
    visibility: hidden;
    left: 1873px;
    top: 791px;
    width: 290px;
    height: 60px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

.navigation-speedLimit,
.navigation-speedLimitMph,
.truck-cruiseControlSpeedRounded,
.truck-cruiseControlSpeedRoundedMph {
    color: #2491b9;
    font-family: LCDMono;
    letter-spacing: 6px;
    font-size: 65px;
    position: absolute;
    visibility: hidden;
    left: 1873px;
    top: 678px;
    width: 124px;
    height: 60px;
    text-align: center;
}

.truck-cruiseControlSpeedRounded,
.truck-cruiseControlSpeedRoundedMph {
    color: #24b999;
    left: 2041px;
    visibility: hidden;
}

.shiftUp {
    background-image: url("images/shiftUp.png");
    left: 44px;
    top: 112px;
    width: 84px;
    height: 115px;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}

@keyframes myShiftGreen {
    50% {
        background-color: rgb(0, 255, 0);
    }
}

.shiftDown {
    background-image: url("images/shiftDown.png");
    left: 2262px;
    top: 110px;
    width: 84px;
    height: 115px;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}

@keyframes myShiftRed {
    50% {
        background-color: rgb(255, 0, 0)
    }
}


.RPMslide {
    background-image: url("images/RpmArrow.png");
    visibility: hidden;
    top: 155px;
    height: 136px;
    width: 44px;
    position: absolute;
    opacity: 1;
    z-index: -1;
}

.RevSlide {
    background-image: url("images/RpmArrow.png");
    visibility: hidden;
    top: 155px;
    height: 136px;
    width: 44px;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}

.truck-speedKph[data-type="meter"],
.truck-speedMph[data-type="meter"] {
    background-image: url("images/needle.png");
    visibility: hidden;
    position: absolute;
    left: 1998px;
    top: 406px;
    width: 35px;
    height: 266px;
    -webkit-transform: rotate(-114.37deg);
    -moz-transform: rotate(-114.37deg);
    -ms-transform: rotate(-114.37deg);
    -o-transform: rotate(-114.37deg);
    transform: rotate(-114.37deg);
    -webkit-transform-origin: 50% 279px;
    -moz-transform-origin: 50% 279px;
    -ms-transform-origin: 50% 279px;
    -o-transform-origin: 50% 279px;
    transform-origin: 50% 279px;
    z-index: 2;
}

.truck-kph {
    background-image: url("images/kph.png");
    visibility: hidden;
    position: absolute;
    left: 1681px;
    top: 356px;
    width: 678px;
    height: 475px;
    z-index: 0;
    /* opacity: 1; */
}

.truck-mph {
    background-image: url("images/mph.png");
    visibility: hidden;
    position: absolute;
    left: 1679px;
    top: 356px;
    width: 676px;
    height: 476px;
    z-index: 0;
    /* opacity: 0; */
}


.truck-engineRpm[data-type="meter"] {
    background-image: url("images/needle.png");
    position: absolute;
    left: 1288px;
    top: 411px;
    width: 35px;
    height: 266px;
    -webkit-transform: rotate(-97.53deg);
    -moz-transform: rotate(-97.53deg);
    -ms-transform: rotate(-97.53deg);
    -o-transform: rotate(-97.53deg);
    transform: rotate(-97.53deg);
    -webkit-transform-origin: 50% 299px;
    -moz-transform-origin: 50% 299px;
    -ms-transform-origin: 50% 299px;
    -o-transform-origin: 50% 299px;
    transform-origin: 50% 299px;
    z-index: 2;
}

.truck-engineRpmDisp {
    visibility: hidden;
    top: 670px;
    left: 1224px;
    width: 169px;
    height: 58px;
    color: #BCEE68;
    font-family: LCDMono;
    letter-spacing: 6px;
    font-size: 55px;
    position: absolute;
    text-align: right;
}

.truck-fuel[data-type="meter"] {
    background-image: url("images/needlesmall.png");
    position: absolute;
    left: 1950px;
    top: 1001px;
    width: 20px;
    height: 150px;
    -webkit-transform: rotate(-96.06deg);
    -moz-transform: rotate(-96.06deg);
    -ms-transform: rotate(-96.06deg);
    -o-transform: rotate(-96.06deg);
    transform: rotate(-96.06deg);
    -webkit-transform-origin: 50% 228px;
    -moz-transform-origin: 50% 228px;
    -ms-transform-origin: 50% 228px;
    -o-transform-origin: 50% 228px;
    transform-origin: 50% 228px;
    z-index: 1;
}

.truck-waterTemperature[data-type="meter"] {
    background-image: url("images/needlesmall.png");
    position: absolute;
    left: 2300px;
    top: 1001px;
    width: 20px;
    height: 150px;
    -webkit-transform: rotate(-96.06deg);
    -moz-transform: rotate(-96.06deg);
    -ms-transform: rotate(-96.06deg);
    -o-transform: rotate(-96.06deg);
    transform: rotate(-96.06deg);
    -webkit-transform-origin: 50% 228px;
    -moz-transform-origin: 50% 228px;
    -ms-transform-origin: 50% 228px;
    -o-transform-origin: 50% 228px;
    transform-origin: 50% 228px;
    z-index: 1;
}

.truck-oilPressure[data-type="meter"] {
    background-image: url("images/needlesmall.png");
    position: absolute;
    left: 1602px;
    top: 1001px;
    width: 20px;
    height: 150px;
    -webkit-transform: rotate(-96.06deg);
    -moz-transform: rotate(-96.06deg);
    -ms-transform: rotate(-96.06deg);
    -o-transform: rotate(-96.06deg);
    transform: rotate(-96.06deg);
    -webkit-transform-origin: 50% 228px;
    -moz-transform-origin: 50% 228px;
    -ms-transform-origin: 50% 228px;
    -o-transform-origin: 50% 228px;
    transform-origin: 50% 228px;
    z-index: 1;
}

.truck-airPressure[data-type="meter"] {
    background-image: url("images/needlesmall.png");
    position: absolute;
    left: 1255px;
    top: 1001px;
    width: 20px;
    height: 150px;
    -webkit-transform: rotate(-96.06deg);
    -moz-transform: rotate(-96.06deg);
    -ms-transform: rotate(-96.06deg);
    -o-transform: rotate(-96.06deg);
    transform: rotate(-96.06deg);
    -webkit-transform-origin: 50% 228px;
    -moz-transform-origin: 50% 228px;
    -ms-transform-origin: 50% 228px;
    -o-transform-origin: 50% 228px;
    transform-origin: 50% 228px;
    z-index: 1;
}

.game-connected.yes .statusMessage {
    visibility: hidden;
}

.statusMessage {
    font-size: 60px;
    text-align: center;
    line-height: 160px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: orange;
}
