/*
    CSS naming convention:

    - Dashboard core script maps all telemetry data properties to respective class names,
      so truck's speed will be .truck-speed and current gear is .truck-gear
      (see complete reference in Telemetry.md markdown file).
    - All boolean telemetry properties will have a special ".yes" class added
      when the value is true (will be removed if value is false).
    - When dashboard core script updates DOM it will always add
      data-value attribute containing current value, so you
      can use it to have custom css selectors based on the actual data
      (for example, this skin uses .truck-gear[data-value="N"] to define
      different style for neutral or reverse gear, see below).

    For more information go to home page: https://github.com/Funbit/ets2-telemetry-server

*/
body {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.dashboard {
    background-image: url("images/bg.png");
}

hr {
    font-size: 15px;
}
/* fixed itens*/
.realNow {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 240px;
    color: #0077a0;
}

.realEstimateTime {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 100px;
    position: absolute;
    left: 840px;
    top: 10px;
    width: 240px;
    color: #00bdff;
}

.page {
    background-image: url("images/page.png");
    position: absolute;
    left: 0px;
    top: 1250px;
    width: 270px;
    height: 30px;
    transition: left 0.2s;
}

.indicator {
    font-size: 0px;
    position: absolute;
    left: 0px;
    top: 1280px;
    width: 1080px;
    height: 490px;
    background-image: url("images/indicator.png");
    opacity: 0;
}

.navigation-speedWarning,
.navigation-speedWarningOn {
    background-image: url("images/speedlimitwarningoff.png");
    position: absolute;
    left: 20px;
    top: 1450px;
    width: 300px;
    height: 300px;
    visibility: hidden;
}

.navigation-speedWarningOn {
    background-image: url("images/speedlimitwarningon.png");
    opacity: 0;
    transition: opacity 5s;
}

.navigation-speedLimit {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-weight: bold;
    position: absolute;
    font-size: 200px;
    top: 1475px;
    left: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    visibility: hidden;
}

    .navigation-speedLimit[data-value^="1"] {
        font-size: 165px;
        top: 1495px;
    }

.navigation-cityLimits {
    font-size: 0px;
    position: absolute;
    left: 106px;
    top: 1658px;
    width: 128px;
    height: 64px;
    visibility: hidden;
}

    .navigation-cityLimits[data-value="0"],
    .navigation-cityLimits[data-value="1"] {
        visibility: hidden;
    }

    .navigation-cityLimits[data-value="2"] {
        background-image: url("images/speedlimitwarningofftownon.png");
        visibility: visible;
    }

    .navigation-cityLimits[data-value="3"] {
        background-image: url("images/speedlimitwarningontownon.png");
        visibility: visible;
    }

.truck-speedUpWarning {
    position: absolute;
    left: 130px;
    top: 1650px;
    width: 80px;
    height: 80px;
    visibility: hidden;
}

    .truck-speedUpWarning[data-value="0"] {
        background-image: url("images/speedupwarning0.png");
        visibility: hidden;
    }

    .truck-speedUpWarning[data-value="1"] {
        background-image: url("images/speedupwarning1.png");
        visibility: visible;
    }

    .truck-speedUpWarning[data-value="2"] {
        background-image: url("images/speedupwarning2.png");
        visibility: visible;
    }

.trailer-wearValue,
.trailer-wearDelta {
    position: absolute;
    left: 420px;
    top: 1610px;
    width: 350px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 80px;
    font-weight: bold;
    color: #333333;
    text-align: right;
}

.trailer-wearDelta {
    font-size: 80px;
    top: 1610px; /*to 1530px;*/
    color: #ef003a;
    opacity: 0;
}

.truck-wearOn,
.truck-wearOff,
.truck-wearWheelOn,
.truck-wearWheelOff,
.trailer-wearOn,
.trailer-wearOff {
    position: absolute;
    left: 321px;
    top: 1600px;
    width: 485px;
    height: 162px;
    visibility: hidden;
}

.truck-wearOff {
    background-image: url("images/truckwearoff.png");
}

.truck-wearOn {
    background-image: url("images/truckwearon.png");
}

.truck-wearWheelOff {
    background-image: url("images/truckwheelwearoff.png");
}

.truck-wearWheelOn {
    background-image: url("images/truckwheelwearon.png");
}

.trailer-wearOff {
    background-image: url("images/trailerwearoff.png");
    height: 103px;
}

.trailer-wearOn {
    background-image: url("images/trailerwearon.png");
}

.driverFatigue {
    font-size: 0px;
    position: absolute;
    left: 350px;
    top: 1500px;
    width: 100px;
    height: 109px;
}

    .driverFatigue[data-value="0"] {
        background-image: url("images/fatigue.png");
    }

    .driverFatigue[data-value="1"] {
        background-image: url("images/fatigue.png");
    }

    .driverFatigue[data-value="2"] {
        background-image: url("images/fatigue2.png");
    }

    .driverFatigue[data-value="3"] {
        background-image: url("images/fatigue3.png");
    }

.driverFatigueTime {
    position: absolute;
    top: 1620px;
    left: 920px;
    width: 100px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 70px;
    font-weight: bold;
    color: #ddd;
}

.navigation-newMinimalSpeed {
    position: absolute;
    top: 1690px;
    left: 920px;
    width: 170px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #ddd;
}

.fatigueGuage {
    background-image: url("images/fatigueguage.png");
    position: absolute;
    left: 790px;
    top: 1470px;
    width: 270px;
    height: 300px;
    visibility: hidden;
}

.fatigueIndicator {
    position: absolute;
    left: 1035px;
    top: 1535px;
    width: 25px;
    height: 40px;
    background-color: #ddd; /*#ef003a;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 198px;
    -moz-transform-origin: 50% 198px;
    -ms-transform-origin: 50% 198px;
    -o-transform-origin: 50% 198px;
    transform-origin: 50% 198px;
    visibility: hidden;
    opacity: 0.7;
}
/* styles*/
.tableTitle {
    color: #a0b4c8; /*#00bdff;*/
    font-size: 100px;
    text-shadow: 5px 5px #007ba6;
}

.progressHeader {
    font-size: 80px;
    text-shadow: 3px 3px #007ba6;
    width: 400px;
    text-align: center;
    color: #a0b4c8;
}

.warnings {
    color: #efbd3a;
}

.statusMessage,
.job-destinationCity,
.job-destinationCompany {
    color: #00bdff;
}

.navigation-actualSpeed,
.navigation-averageSpeed,
.navigation-minimalSpeed {
    font-size: 90px;
}

.navigation-actualSpeed {
    color: #b4ff9d;
}

.navigation-averageSpeed {
    color: #ffeb9d;
}

.navigation-minimalSpeed {
    color: #ff9d9d;
}

.job-remainingTime {
    color: #d2ffc5;
}
/* tables */
div.tables {
    position: absolute;
    width: 1080px;
    height: 1250px; /* 1600px */
    overflow-y: hidden;
}

table.basicDataTable,
table.progressTable,
table.progressTable2,
table.wearTable,
table.warningsTable {
    border-collapse: collapse;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 1060px;
    color: #dddddd;
}

table.progressTable {
    font-size: 58px;
}

table.progressTable2 {
    top: 1070px;
}

table.basicDataTable,
table.progressTable,
table.progressTable2,
table.wearTable,
table.warningsTable {
    visibility: visible;
}

    table.basicDataTable th,
    table.progressTable th,
    table.wearTable th {
        color: #aaaaaa;
        text-align: right;
    }

    table.basicDataTable th {
        width: 400px;
    }

    table.progressTable th {
        width: 300px;
    }

    table.wearTable th {
        width: 550px;
    }

    table.basicDataTable td,
    table.progressTable td,
    table.progressTable2 td,
    table.wearTable td,
    table.warningsTable td {
        padding-left: 20px;
    }

    table.progressTable2 th,
    table.progressTable2 td,
    table.progressTable td {
        text-align: center;
    }

    table.progressTable2 th {
        color: #a0b4c8;
    }

    table.progressTable2 td {
        font-weight: bold;
        color: #e6f2ff;
    }

div .scrollLastWarnings {
    position: absolute;
    width: 1080px;
    height: 170px;
    overflow-y: scroll;
    border-collapse: collapse;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 70px;
    position: absolute;
    left: 0px;
    top: 1280px;
    color: #efca68;
    text-align: center;
}

    div .scrollLastWarnings::-webkit-scrollbar {
        display: none;
    }

div .scrollWarnings {
    height: 1090px;
    overflow-y: scroll;
}

    div .scrollWarnings::-webkit-scrollbar {
        display: none;
    }


/*
    CSS naming convention:

    - Dashboard core script maps all telemetry data properties to respective class names,
      so truck's speed will be .truck-speed and current gear is .truck-gear
      (see complete reference in Telemetry.md markdown file).
    - All boolean telemetry properties will have a special ".yes" class added
      when the value is true (will be removed if value is false).
    - When dashboard core script updates DOM it will always add
      data-value attribute containing current value, so you
      can use it to have custom css selectors based on the actual data
      (for example, this skin uses .truck-gear[data-value="N"] to define
      different style for neutral or reverse gear, see below).

    For more information go to home page: https://github.com/Funbit/ets2-telemetry-server

*/
body {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.dashboard {
    background-image: url("images/bg.png");
}

hr {
    font-size: 15px;
}
/* fixed itens*/
.realNow {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 240px;
    color: #0077a0;
}

.realEstimateTime {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 100px;
    position: absolute;
    left: 840px;
    top: 10px;
    width: 240px;
    color: #00bdff;
}

.page {
    background-image: url("images/page.png");
    position: absolute;
    left: 0px;
    top: 1250px;
    width: 270px;
    height: 30px;
    transition: left 0.2s;
}

.indicator {
    font-size: 0px;
    position: absolute;
    left: 0px;
    top: 1280px;
    width: 1080px;
    height: 490px;
    background-image: url("images/indicator.png");
    opacity: 0;
}

.navigation-speedWarning,
.navigation-speedWarningOn {
    background-image: url("images/speedlimitwarningoff.png");
    position: absolute;
    left: 20px;
    top: 1450px;
    width: 300px;
    height: 300px;
    visibility: hidden;
}

.navigation-speedWarningOn {
    background-image: url("images/speedlimitwarningon.png");
    opacity: 0;
    transition: opacity 5s;
}

.navigation-speedLimit {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-weight: bold;
    position: absolute;
    font-size: 200px;
    top: 1475px;
    left: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    visibility: hidden;
}

    .navigation-speedLimit[data-value^="1"] {
        font-size: 165px;
        top: 1495px;
    }

.navigation-cityLimits {
    font-size: 0px;
    position: absolute;
    left: 106px;
    top: 1658px;
    width: 128px;
    height: 64px;
    visibility: hidden;
}

    .navigation-cityLimits[data-value="0"],
    .navigation-cityLimits[data-value="1"] {
        visibility: hidden;
    }

    .navigation-cityLimits[data-value="2"] {
        background-image: url("images/speedlimitwarningofftownon.png");
        visibility: visible;
    }

    .navigation-cityLimits[data-value="3"] {
        background-image: url("images/speedlimitwarningontownon.png");
        visibility: visible;
    }

.truck-speedUpWarning {
    position: absolute;
    left: 130px;
    top: 1650px;
    width: 80px;
    height: 80px;
    visibility: hidden;
}

    .truck-speedUpWarning[data-value="0"] {
        background-image: url("images/speedupwarning0.png");
        visibility: hidden;
    }

    .truck-speedUpWarning[data-value="1"] {
        background-image: url("images/speedupwarning1.png");
        visibility: visible;
    }

    .truck-speedUpWarning[data-value="2"] {
        background-image: url("images/speedupwarning2.png");
        visibility: visible;
    }

.trailer-wearValue,
.trailer-wearDelta {
    position: absolute;
    left: 420px;
    top: 1610px;
    width: 350px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 80px;
    font-weight: bold;
    color: #333333;
    text-align: right;
}

.trailer-wearDelta {
    font-size: 80px;
    top: 1610px; /*to 1530px;*/
    color: #ef003a;
    opacity: 0;
}

.truck-wearOn,
.truck-wearOff,
.truck-wearWheelOn,
.truck-wearWheelOff,
.trailer-wearOn,
.trailer-wearOff {
    position: absolute;
    left: 321px;
    top: 1600px;
    width: 485px;
    height: 162px;
    visibility: hidden;
}

.truck-wearOff {
    background-image: url("images/truckwearoff.png");
}

.truck-wearOn {
    background-image: url("images/truckwearon.png");
}

.truck-wearWheelOff {
    background-image: url("images/truckwheelwearoff.png");
}

.truck-wearWheelOn {
    background-image: url("images/truckwheelwearon.png");
}

.trailer-wearOff {
    background-image: url("images/trailerwearoff.png");
    height: 103px;
}

.trailer-wearOn {
    background-image: url("images/trailerwearon.png");
}

.driverFatigue {
    font-size: 0px;
    position: absolute;
    left: 350px;
    top: 1500px;
    width: 100px;
    height: 109px;
}

    .driverFatigue[data-value="0"] {
        background-image: url("images/fatigue.png");
    }

    .driverFatigue[data-value="1"] {
        background-image: url("images/fatigue.png");
    }

    .driverFatigue[data-value="2"] {
        background-image: url("images/fatigue2.png");
    }

    .driverFatigue[data-value="3"] {
        background-image: url("images/fatigue3.png");
    }

.driverFatigueTime {
    position: absolute;
    top: 1620px;
    left: 920px;
    width: 100px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 70px;
    font-weight: bold;
    color: #ddd;
}

.navigation-newMinimalSpeed {
    position: absolute;
    top: 1690px;
    left: 920px;
    width: 170px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #ddd;
}

.fatigueGuage {
    background-image: url("images/fatigueguage.png");
    position: absolute;
    left: 790px;
    top: 1470px;
    width: 270px;
    height: 300px;
    visibility: hidden;
}

.fatigueIndicator {
    position: absolute;
    left: 1035px;
    top: 1535px;
    width: 25px;
    height: 40px;
    background-color: #ddd; /*#ef003a;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 198px;
    -moz-transform-origin: 50% 198px;
    -ms-transform-origin: 50% 198px;
    -o-transform-origin: 50% 198px;
    transform-origin: 50% 198px;
    visibility: hidden;
    opacity: 0.7;
}
/* styles*/
.tableTitle {
    color: #a0b4c8; /*#00bdff;*/
    font-size: 100px;
    text-shadow: 5px 5px #007ba6;
}

.progressHeader {
    font-size: 80px;
    text-shadow: 3px 3px #007ba6;
    width: 400px;
    text-align: center;
    color: #a0b4c8;
}

.warnings {
    color: #efbd3a;
}

.statusMessage,
.job-destinationCity,
.job-destinationCompany {
    color: #00bdff;
}

.navigation-actualSpeed,
.navigation-averageSpeed,
.navigation-minimalSpeed {
    font-size: 90px;
}

.navigation-actualSpeed {
    color: #b4ff9d;
}

.navigation-averageSpeed {
    color: #ffeb9d;
}

.navigation-minimalSpeed {
    color: #ff9d9d;
}

.job-remainingTime {
    color: #d2ffc5;
}
/* tables */
div.tables {
    position: absolute;
    width: 1080px;
    height: 1250px; /* 1600px */
    overflow-y: hidden;
}

table.basicDataTable,
table.progressTable,
table.progressTable2,
table.wearTable,
table.warningsTable {
    border-collapse: collapse;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 1060px;
    color: #dddddd;
}

table.progressTable {
    font-size: 58px;
}

table.progressTable2 {
    top: 1070px;
}

table.basicDataTable,
table.progressTable,
table.progressTable2,
table.wearTable,
table.warningsTable {
    visibility: hidden;
}

    table.basicDataTable th,
    table.progressTable th,
    table.wearTable th {
        color: #aaaaaa;
        text-align: right;
    }

    table.basicDataTable th {
        width: 400px;
    }

    table.progressTable th {
        width: 300px;
    }

    table.wearTable th {
        width: 550px;
    }

    table.basicDataTable td,
    table.progressTable td,
    table.progressTable2 td,
    table.wearTable td,
    table.warningsTable td {
        padding-left: 20px;
    }

    table.progressTable2 th,
    table.progressTable2 td,
    table.progressTable td {
        text-align: center;
    }

    table.progressTable2 th {
        color: #a0b4c8;
    }

    table.progressTable2 td {
        font-weight: bold;
        color: #e6f2ff;
    }

div .scrollLastWarnings {
    position: absolute;
    width: 1080px;
    height: 170px;
    overflow-y: scroll;
    border-collapse: collapse;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial;
    font-size: 70px;
    position: absolute;
    left: 0px;
    top: 1280px;
    color: #efca68;
    text-align: center;
}

    div .scrollLastWarnings::-webkit-scrollbar {
        display: none;
    }

div .scrollWarnings {
    height: 1090px;
    overflow-y: scroll;
}

    div .scrollWarnings::-webkit-scrollbar {
        display: none;
    }
