@keyframes blinker {  
  50% { z-index: -1; }
}

@keyframes showIcons {
 0% { visibility: visible; 
	z-index: 5;
	}
}

@font-face {
	font-family: 'DSDIGI';
	src: url('fonts/DSDIGI.eot');
	src: local('DSDIGI'), url('fonts/DSDIGI.woff') format('woff'), url('fonts/DSDIGI.ttf') format('truetype');
}

@font-face {
	font-family: 'ARCADECLASSIC';
	src: url('fonts/ARCADECLASSIC.eot');
	src: local('ARCADECLASSIC'), url('fonts/ARCADECLASSIC.woff') format('woff'), url('fonts/ARCADECLASSIC.ttf') format('truetype');
}

@font-face {
	font-family: 'LEVIWINDOWS';
	src: url('fonts/LEVIWINDOWS.ttf');
	src: local('LEVIWINDOWS'), url('fonts/LEVIWINDOWS.ttf') format('truetype');
}

@font-face {
	font-family: 'high_pixel-7';
	src: url('fonts/high_pixel-7.ttf');
	src: local('high_pixel-7'), url('fonts/high_pixel-7.ttf') format('truetype');
}

@font-face {
	font-family: 'Pixel';
	src: url('fonts/Pixel.ttf');
	src: local('Pixel'), url('fonts/Pixel.ttf') format('truetype');
}

body {
  cursor: auto;
}
/*body {
  cursor: pointer;
}*/
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.isNight {
  background-image: url("images/bg-on.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
}
.isNight.yes {
  background-image: url("images/bg-on-dark.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
}
.dashLights.yes .isNight.yes {
  background-image: url("images/bg-on-bright.jpg");
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.resetKm {
	cursor: pointer;
	display: block;
	position: absolute;
	display: inline-block;
	left: 930px;
	top: 900px;
width: 80px;
height: 80px;
text-align: center;
z-index: 5;
opacity: 1.0;
}

/*.button {
    border: none;
    color: white;
    padding: 75px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute;
	left: 722px;
	top: 837px;
    cursor: pointer;
	opacity: 0.0;
}
*/
/* speed gauge */

.truck-speed[data-type="meter"] {
  visibility: visible;
  position: absolute;
  left: 1524px;
  top: 297px;
  width: 110px;
  height: 296px;
  background-image: url("images/arrow.png");
  -webkit-transform: rotate(-115.5deg);
  -moz-transform: rotate(-115.5deg);
  -ms-transform: rotate(-115.5deg);
  -o-transform: rotate(-115.5deg);
  transform: rotate(-115.5deg);
  -webkit-transform-origin: 55px 265px;
  -moz-transform-origin: 55px 265px;
  -ms-transform-origin: 55px 265px;
  -o-transform-origin: 55px 265px;
  transform-origin: 55px 265px;
}
.isNight.yes .truck-speed[data-type="meter"] {
-webkit-filter: brightness(10%);
}
.dashLights.yes .truck-speed[data-type="meter"] {
-webkit-filter: brightness(100%);
}

/*RPM Gauge */

.truck-engineRpm {
  visibility: visible;
  position: absolute;
  left: 297px;
  top: 288px;
  width: 110px;
  height: 296px;
  background-image: url("images/arrow.png");
  -webkit-transform: rotate(-114deg);
  -moz-transform: rotate(-114deg);
  -ms-transform: rotate(-114deg);
  -o-transform: rotate(-114deg);
  transform: rotate(-114deg);
  -webkit-transform-origin: 55px 265px;
  -moz-transform-origin: 55px 265px;
  -ms-transform-origin: 55px 265px;
  -o-transform-origin: 55px 265px;
  transform-origin: 55px 265px;
}
.isNight.yes .truck-engineRpm {
-webkit-filter: brightness(10%);
}
.dashLights.yes .truck-engineRpm {
-webkit-filter: brightness(100%);
}
.truck-rpmAssistant[data-value='eBrake'] {
background-image: url("images/eBrake.png");
position: fixed;
left: 134px;
top: 238px;
width: 534px;
height: 472px;
color: rgba(0, 0, 0, 0);
z-index: 5;
}
.truck-rpmAssistant[data-value='eBrake1'] {
background-image: url("images/eBrake1.png");
position: fixed;
left: 134px;
top: 238px;
width: 534px;
height: 472px;
color: rgba(0, 0, 0, 0);
z-index: 5;
}
.truck-rpmAssistant[data-value="eBrake2"] {
background-image: url("images/eBrake2.png");
position: fixed;
left: 134px;
top: 238px;
width: 534px;
height: 472px;
color: rgba(0, 0, 0, 0);
z-index: 5;
}
.truck-rpmAssistant[data-value="eBrake3"] {
background-image: url("images/eBrake3.png");
position: fixed;
left: 134px;
top: 238px;
width: 534px;
height: 472px;
color: rgba(0, 0, 0, 0);
z-index: 5;
}

/* Fuel Gauge */

.truck-fuel {
  position: absolute;
  left: 112px;
  top: 870px;
  width: 65px;
  height: 112px;
  background-image: url("images/arrow-s.png");
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transform-origin: 32px 89px;
  -moz-transform-origin: 32px 89px;
  -ms-transform-origin: 32px 89px;
  -o-transform-origin: 32px 89px;
  transform-origin: 32px 89px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}
.isNight.yes .truck-fuel {
-webkit-filter: brightness(10%);
}
.dashLights.yes .truck-fuel {
-webkit-filter: brightness(100%);
}

/* water temperature gauge */

.truck-waterTemperature {
   position: absolute;
  left: 522px;
  top: 873px;
  width: 65px;
  height: 112px;
  background-image: url("images/arrow-s.png");
  -webkit-transform: rotate(-38deg);
  -moz-transform: rotate(-38deg);
  -ms-transform: rotate(-38deg);
  -o-transform: rotate(-38deg);
  transform: rotate(-38deg);
  -webkit-transform-origin: 32px 89px;
  -moz-transform-origin: 32px 89px;
  -ms-transform-origin: 32px 89px;
  -o-transform-origin: 32px 89px;
  transform-origin: 32px 89px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.isNight.yes .truck-waterTemperature {
-webkit-filter: brightness(10%);
}
.dashLights.yes .truck-waterTemperature {
-webkit-filter: brightness(100%);
}

/* air pressure gauges */

.game-connected .truck-airPressure,
.game-connected .truck-airPressureSplit {
z-index: 5;
}
.game-connected.yes .truck-airPressure,
.game-connected.yes .truck-airPressureSplit {
z-index: 5;
}

.truck-airPressure {
  position: absolute;
  left: 1348px;
  top: 872px;
  width: 65px;
  height: 112px;
  background-image: url("images/arrow-s.png");
  -webkit-transform: rotate(-37deg);
  -moz-transform: rotate(-37deg);
  -ms-transform: rotate(-37deg);
  -o-transform: rotate(-37deg);
  transform: rotate(-37deg);
  -webkit-transform-origin: 32px 89px;
  -moz-transform-origin: 32px 89px;
  -ms-transform-origin: 32px 89px;
  -o-transform-origin: 32px 89px;
  transform-origin: 32px 89px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.truck-airPressureSplit {
  position: absolute;
  left: 1745px;
  top: 872px;
  width: 65px;
  height: 112px;
  background-image: url("images/arrow-s.png");
  -webkit-transform: rotate(-39deg);
  -moz-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
  -o-transform: rotate(-39deg);
  transform: rotate(-39deg);
  -webkit-transform-origin: 32px 89px;
  -moz-transform-origin: 32px 89px;
  -ms-transform-origin: 32px 89px;
  -o-transform-origin: 32px 89px;
  transform-origin: 32px 89px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.isNight.yes .truck-airPressure,
.isNight.yes .truck-airPressureSplit {
-webkit-filter: brightness(10%);
}
.dashLights.yes .truck-airPressure,
.dashLights.yes .truck-airPressureSplit {
-webkit-filter: brightness(100%);
}

/* odometer */

.game-connected .truck-odometer {
visibility: hidden;
}
.game-connected.yes .truck-odometer {
visibility: visible;
}

.truck-odometer {
    position: absolute;
    left: 270px;
    top: 670px;
    width: 182px;
    height: 35px;
    font-family: 'DSDIGI', Arial;
    font-size: 40px;
    color: white;
    text-align: right;
}
.odometerKm {
  background-image: url("images/km.png");
  position: absolute;
  left: 245px;
  top: 685px;
  width: 29px;
  height: 20px;
  visibility: hidden;
}
.odometerKm.yes {
visibility: visible;
}

/* Time */

.datetime {
    position: fixed;
    left: 1500px;
    top: 627px;
    width: 182px;
    height: 35px;
    font-family: 'DSDIGI', Arial;
    font-size: 40px;
    color: #FFFFFF;
    text-align: right;
}


/* traveled distance */
/*-left: 1579px;*/

.truck-TravDistance {
    position: absolute;
    left: 1500px;
    top: 660px;
    width: 182px;
    height: 35px;
    font-family: 'DSDIGI', Arial;
    font-size: 40px;
    color: #FFFFFF;
    text-align: right;
}
.truck-TravDistance[data-value='0'] {
visibility: hidden;
}
.travDistanceKm {
    background-image: url("images/km.png");
    position: absolute;
    left: 1477px;
    top: 675px;
    width: 29px;
    height: 20px;
	visibility: hidden;
}
.travDistanceKm.yes {
	visibility: visible;
}


/* blinkers*/

.truck-blinkerLeftOn {
  background-image: none;
  position: absolute;
  left: 521px;
  top: 153px;
  width: 165px;
  height: 136px;
}
.truck-blinkerLeftOn.yes {
background-image: url("images/blinker-left-on.png");
}

.truck-blinkerRightOn {
  background-image: none;
  position: absolute;
  left: 1257px;
  top: 167px;
  width: 165px;
  height: 136px;
}
.truck-blinkerRightOn.yes {
background-image: url("images/blinker-right-on.png");
}

.truck-blinkWarning.yes {
    background-image: url("images/warninglight.png");
    position: absolute;
    left: 948px;
    top: 717px;
    width: 57px;
    height: 29px;
}
.truck-blinkWarning {
    background-image: none;
}


/* Panel indicators and Warnings */

.truck-lightsBeamLowOn {
  background-image: url("images/lowbeam-on.png");
  position: absolute;
  left: 327px;
  top: 744px;
  width: 63px;
  height: 44px;
  opacity: 0.0;
  -webkit-filter: grayscale(100%);
}
.truck-lightsBeamLowOn.yes {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}

.truck-lightsBeamHighOn {
  background-image: url("images/highbeam-on.png");
  position: absolute;
  left: 948px;
  top: 657px;
  width: 60px;
  height: 38px;
  opacity: 0.0;
  -webkit-filter: grayscale(100%);

}
.truck-lightsBeamHighOn.yes {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}

.truck-parkBrakeOn {
  background-image: url("images/parkingbrake.png");
  position: absolute;
  left: 872px;
  top: 594px;
  width: 69px;
  height: 51px;
  opacity: 0.0;
  -webkit-filter: grayscale(100%);

}
.truck-parkBrakeOn.yes {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}

.truck-motorBrakeOn {
  background-image: url("images/mBrake.png");
  position: absolute;
  left: 975px;
  top: 235px;
  width: 59px;
  height: 44px;
  visibility: hidden;

}
.truck-motorBrakeOn.yes {
  visibility: visible;
}

.retarderMounted.yes .retarderSym {
  z-index: 4;
  background-image: url("images/retarder.png");
  position: absolute;
  left: 910px;
  top: 235px;
  width: 59px;
  height: 45px;
  visibility: hidden;
}
.retarderMounted.yes .retarderSym.yes {
  visibility: visible;
}

.truck-fuelWarningOn {
  background-image: url("images/fuel-warning.png");
  position: absolute;
  left: 1474px;
  top: 734px;
  width: 66px;
  height: 77px;
  opacity: 0.0;
  -webkit-filter: grayscale(100%);
}
.truck-fuelWarningOn.yes {
	opacity: 1;
	-webkit-filter: grayscale(0%);
}

.truck-adblueWarningOn {
  background-image: url("images/adblue.png");
  position: absolute;
  left: 59px;
  top: 967px;
  width: 52px;
  height: 48px;
  visibility: hidden;
}
.truck-adblueWarningOn.yes {
	visibility: visible;
}

.temperature {
    z-index: 4;
    position: absolute;
    left: 270px;
    top: 633px;
    width: 182px;
    height: 35px;
    font-family: 'DSDIGI', Arial;
    font-size: 40px;
    color: white;
    text-align: right;
	visibility: visible;
}
/*.temperature.yes {
visibility: visible;
}*/

.airPressureWarningOn1 {
  background-image: url("images/storing2.png");
  position: absolute;
  left: 810px;
  top: 595px;
  width: 54px;
  height: 44px;
  opacity: 0.0;
  -webkit-filter: grayscale(100%);
}
.airPressureWarningOn1.yes {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}
.airPressureWarningOn2 {
  background-image: url("images/storing1.png");
  position: absolute;
  left: 947px;
  top: 594px;
  width: 59px;
  height: 47px;
  opacity: 0.0;
  -webkit-filter: grayscale(100%);
  animation: none;
}
.airPressureWarningOn2.yes {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  animation: blinker 1.5s linear infinite;
}
.airPressureWarningOnDisplay {
  background-image: url("images/storingVoorraaddruk.png");
  position: absolute;
  left: 731px;
  top: 195px;
  width: 489px;
  height: 249px;
  z-index: 3;
  visibility: hidden;
}
.airPressureWarningOnDisplay.yes {

  visibility: visible;
}

.engineNeutral {
	background-image: url("images/storingNeutrSchakelen.png");
    position: absolute;
    left: 731px;
    top: 296px;
    width: 489px;
    height: 148px;
	z-index: 10;
	visibility: hidden;
}
.engineNeutral.yes {
	visibility: visible;
}

.truck-stopWarning {
    background-image: url("images/storingDistributie.png");
    position: absolute;
    left: 731px;
    top: 195px;
    width: 489px;
    height: 249px;
    z-index: 4;
    visibility: hidden;
}
.truck-stopWarning.yes {
    visibility: visible;
}
.stopWarning {
    background-image: url("images/storing1.png");
    position: absolute;
    left: 947px;
    top: 594px;
    width: 59px;
    height: 47px;
    z-index: 5;
	opacity: 0.0;
    -webkit-filter: grayscale(100%);
    animation: none;
}
.stopWarning.yes {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    animation: blinker 1.5s linear infinite;
}

.truck-checkWarning {
    background-image: url("images/voorraaddrukNietSchakelen.png");
    position: absolute;
    left: 731px;
    top: 195px;
    width: 489px;
    height: 249px;
    z-index: 4;
    visibility: hidden;
}
.truck-checkWarning.yes {
    visibility: visible;
}
.checkWarning {
    background-image: url("images/storing1.png");
    position: absolute;
    left: 947px;
    top: 594px;
    width: 59px;
    height: 47px;
    z-index: 4;
    opacity: 0.0;
    -webkit-filter: grayscale(100%);
}
.checkWarning.yes {
    opacity: 1;
    -webkit-filter: grayscale(0%);
}
.checkWarning1 {
    background-image: url("images/storing3.png");
    position: absolute;
    left: 884px;
    top: 539px;
    width: 47px;
    height: 44px;
    z-index: 4;
    opacity: 0.0;
    -webkit-filter: grayscale(100%);
}
.checkWarning1.yes {
    opacity: 1;
    -webkit-filter: grayscale(0%);
}

.truck-importantWarning {
    background-image: url("images/motorolietempTeHoog.png");
    position: absolute;
    left: 731px;
    top: 296px;
    width: 489px;
    height: 148px;
    z-index: 4;
    visibility: hidden;
}
.truck-importantWarning.yes {
    visibility: visible;
}
.importantWarning {
    background-image: url("images/storing1.png");
    position: absolute;
    left: 947px;
    top: 594px;
    width: 59px;
    height: 47px;
    z-index: 4;
    opacity: 0.0;
    -webkit-filter: grayscale(100%);
}
.importantWarning.yes {
    opacity: 1;
    -webkit-filter: grayscale(0%);
}
.importantWarning1 {
    background-image: url("images/storing5.png");
    position: absolute;
    left: 951px;
    top: 540px;
    width: 53px;
    height: 41px;
    z-index: 4;
    opacity: 0.0;
    -webkit-filter: grayscale(100%);
}
.importantWarning1.yes {
    opacity: 1;
    -webkit-filter: grayscale(0%);
}

.truck-serviceWarning {
    background-image: url("images/oliedrukTeGering.png");
    position: absolute;
    left: 731px;
    top: 195px;
    width: 489px;
    height: 249px;
    z-index: 4;
    visibility: hidden;
}
.truck-serviceWarning.yes {
    visibility: visible;
}
.serviceWarning {
    background-image: url("images/storing1.png");
    position: absolute;
    left: 947px;
    top: 594px;
    width: 59px;
    height: 47px;
    z-index: 4;
	opacity: 0.0;
    -webkit-filter: grayscale(100%);
    animation: none;
}
.serviceWarning.yes {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    animation: blinker 1.5s linear infinite;
}
.serviceWarning {
    background-image: url("images/storing4.png");
    position: absolute;
    left: 808px;
    top: 659px;
    width: 62px;
    height: 32px;
    z-index: 4;
	opacity: 0.0;
    -webkit-filter: grayscale(100%);
}
.serviceWarning.yes {
    opacity: 1;
    -webkit-filter: grayscale(0%);
}

.engineStart {
	background-image: url("images/engineoff.png");
    position: fixed;
    left: 1526px;
    top: 740px;
    width: 74px;
    height: 75px;
    opacity: 0.0;
    -webkit-filter: grayscale(100%);
}
.engineStart.yes {
    opacity: 1;
	-webkit-filter: grayscale(0%);
}


/*DISPLAY*/
/* digital panel */

.infodash.yes {
  background-image: url("images/infoDash.png");
  position: absolute;
  left: 731px;
  top: 195px;
  width: 489px;
  height: 249px;
  z-index: 2;
}
.infodash {
  z-index: -1;
}


/* fuel average consumption */

.truck-fuelAverageConsumption {
  color: white;
  font-family: 'LEVIWINDOWS';
  font-weight: normal;
  font-size: 65px;
  position: absolute;
  left: 900px;
  top: 290px;
  width: 307px;
  height: 34px;
  text-align: right;
}


/* cruise control */

.truck-cruiseControlOn {
  z-index: 5;
  background-image: url("images/cruise-off.png");
  position: absolute;
  left: 1105px;
  top: 200px;
  width: 100;
  height: 77px;
  visibility: visible;
}
.truck-cruiseControlOn.yes {
  visibility: hidden;
}
.truck-cruiseControlSpeed {
  color: white;
  font-family: 'LEVIWINDOWS';
  font-weight: normal;
  font-size: 120px;
  position: absolute;
  left: 1043px;
  top: 207px;
  width: 49px;
  height: 54px;
  text-align: center;
}


/* gear */

.truck-gear {
	z-index: 6;
    color: #FFFFFF;
    font-family: 'LEVIWINDOWS';
    font-weight: 550;
    font-size: 150px;
    position: absolute;
    left: 805px;
    top: 160px;
    width: 120px;
    height: 200px;
    text-align: left;
}
.truck-shifterType {
    z-index: 6;
    position: fixed;
    left: 752px;
    top: 232px;
    width: 29px;
    height: 30px;
    font-family: 'high_pixel-7';
    font-weight: bolder;
    font-size: 35px;
    color: white;
    text-align: center;
}


/* trailer info */

.trailer-mass {
  color: white;
  font-family:  Arial;
  font-weight: bold;
  font-size: 27px;
  position: absolute;
  left: 843px;
  top: 420px;
  width: 260px;
  height: 34px;
  text-align: left;
}


/* start up icons*/

.startIcons.yes {
  background-image: url("images/startIcons.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 4;
  animation: showIcons 5s linear 1;
}
.startIcons {
visibility: hidden;
}