/*
    CSS naming convention:

    - Dashboard core script maps all telemetry data properties to respective class names,
      so truck's speed will be .truck-speed and current gear is .truck-gear
      (see complete reference in Telemetry.md markdown file).
    - All boolean telemetry properties will have a special ".yes" class added
      when the value is true (will be removed if value is false).
    - When dashboard core script updates DOM it will always add
      data-value attribute containing current value, so you
      can use it to have custom css selectors based on the actual data
      (for example, this skin uses .truck-gear[data-value="N"] to define
      different style for neutral or reverse gear, see below).

    For more information go to home page: https://github.com/Funbit/ets2-telemetry-server

*/
body {
  cursor: auto;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.dashboard {
  background-image: url("images/bg-off.png");
}
.dashboard.game-connected.yes {
  background-image: url("images/bg-on.png");
}
.game-connected.yes .statusMessage {
    visibility: hidden;
}
.statusMessage {
    font-size: 40px;
    text-align: center;
    /* line-height: 768px; */
    position: absolute;
    left: 0;
    top: 550;
    right: 0;
    bottom: 0;
    color: orange;
}
.timeChange {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 202px;
	top: 296px;
	width: 187px;
	height: 187px;
	border-radius: 50% 50% 50% 50%;
	z-index: 1;
}
.speedoChange {
	cursor: pointer;
	display: block;
	position: absolute;
	left: 684px;
	top: 100px;
	width: 314px;
	height: 314px;
	border-radius: 50% 50% 50% 50%;
	z-index: 1;
}
.speedDailmph,
.speedDailkph {
	background-image: url("images/kph.png");
	position: absolute;
	left: 679px;
	top: 102px;
	width: 313px;
	height: 314px;
}
.speedDailmph {
	background-image: url("images/mph.png");
}
.truck-engineRpm[data-type="meter"],
.truck-speed[data-type="meter"] {
  visibility: visible;
  position: absolute;
  background-image: url("images/ArrowL.png");
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform-origin: 50% 125px;
  -moz-transform-origin: 50% 125px;
  -ms-transform-origin: 50% 125px;
  -o-transform-origin: 50% 125px;
  transform-origin: 50% 125px;
}
.truck-speed {
  left: 826px;
  top: 134px;
  width: 29px;
  height: 140px;
  z-index: 1;
}
.truck-engineRpm {
  left: 508px;
  top: 130px;
  width: 29px;
  height: 140px;
}
.truck-turboBoost[data-type="meter"],
.truck-airPressure[data-type="meter"],
.truck-brakePressure[data-type="meter"],
.truck-oilPressure[data-type="meter"],
.truck-trailerPressure[data-type="meter"],
.truck-suspPressure[data-type="meter"] {
  visibility: visible;
  position: absolute;
  background-image: url("images/ArrowS.png");
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform-origin: 50% 75px;
  -moz-transform-origin: 50% 75px;
  -ms-transform-origin: 50% 75px;
  -o-transform-origin: 50% 75px;
  transform-origin: 50% 75px;
}
.truck-turboBoost {
  animation-delay: 0.5s;
  left: 287px;
  top: 52px;
  width: 18px;
  height: 85px;
}
.truck-airPressure {
  left: 675px;
  top: 439px;
  width: 18px;
  height: 85px;
}
.truck-brakePressure {
  left: 868px;
  top: 440px;
  width: 18px;
  height: 85px;
}
.truck-oilPressure {
  left: 91px;
  top: 313px;
  width: 18px;
  height: 85px;
}
.truck-trailerPressure {
  left: 1255px;
  top: 312px;
  width: 18px;
  height: 85px;
}
.truck-suspPressure {
  left: 1255px;
  top: 564px;
  width: 18px;
  height: 85px;
}
.truck-batteryVoltage[data-type="meter"],
.truck-oilTemperature[data-type="meter"],
.truck-waterTemperature[data-type="meter"],
.truck-fuel[data-type="meter"],
.truck-transTemperature[data-type="meter"],
.truck-fuelConsumption[data-type="meter"],
.truck-rraxleTemp[data-type="meter"],
.truck-rfaxleTemp[data-type="meter"] {
  visibility: visible;
  position: absolute;
  background-image: url("images/ArrowM.png");
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 91px;
  -moz-transform-origin: 50% 91px;
  -ms-transform-origin: 50% 91px;
  -o-transform-origin: 50% 91px;
  transform-origin: 50% 91px;
}
.truck-batteryVoltage {
  left: 90px;
  top: 73px;
  width: 21px;
  height: 102px;
}
.truck-oilTemperature {
  left: 89px;
  top: 585px;
  width: 21px;
  height: 102px;
}
.truck-waterTemperature {
  left: 280px;
  top: 585px;
  width: 21px;
  height: 102px;
}
.truck-fuel {
  left: 477px;
  top: 454px;
  width: 21px;
  height: 102px;
}
.truck-transTemperature {
  left: 1059px;
  top: 69px;
  width: 21px;
  height: 102px;
}
.truck-fuelConsumption {
  left: 1256px;
  top: 70px;
  width: 21px;
  height: 102px;
}
.truck-rraxleTemp {
  left: 1058px;
  top: 330px;
  width: 21px;
  height: 102px;
}
.truck-rfaxleTemp {
  left: 1060px;
  top: 580px;
  width: 21px;
  height: 102px;
}
.game-timeMinutes[data-type="meter"] {
  visibility: visible;
  position: absolute;
  background-image: url("images/ArrowS.png");
  left: 286px;
  top: 312px;
  width: 18px;
  height: 85px;
  z-index: 1;
  z-index: 1;
  -webkit-transform: rotate(-0deg);
  -moz-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  -o-transform: rotate(-0deg);
  transform: rotate(-0deg);
  -webkit-transform-origin: 50% 75px;
  -moz-transform-origin: 50% 75px;
  -ms-transform-origin: 50% 75px;
  -o-transform-origin: 50% 75px;
  transform-origin: 50% 75px;
}
.game-timeHours[data-type="meter"] {
  visibility: visible;
  position: absolute;
  background-image: url("images/ArrowH.png");
  left: 286px;
  top: 329px;
  width: 17px;
  height: 68px;
  z-index: 1;
  -webkit-transform: rotate(-0deg);
  -moz-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  -o-transform: rotate(-0deg);
  transform: rotate(-0deg);
  -webkit-transform-origin: 50% 59px;
  -moz-transform-origin: 50% 59px;
  -ms-transform-origin: 50% 59px;
  -o-transform-origin: 50% 59px;
  transform-origin: 50% 59px;
}
.game-timeDisplay {
  color: white;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  left: 274px;
  top: 403px;
  width: 42px;
  height: 26px;
  text-align: center;
  z-index: 0;
}
	
.truck-blinkerLeftOn,
.truck-blinkerRightOn,
.truck-lightsBeamHighOn,
.truck-airPressureWarningOn,
.truck-batteryVoltageWarningOn,
.truck-differentialLock,
.truck-parkBrakeOn,
.truck-engineCheck,
.truck-fuelWarningOn {
  visibility: hidden;
}
.truck-electricOn.yes .truck-blinkerLeftOn,
.truck-electricOn.yes .truck-blinkerRightOn,
.truck-electricOn.yes .truck-lightsBeamHighOn,
.truck-electricOn.yes .truck-airPressureWarningOn,
.truck-electricOn.yes .truck-batteryVoltageWarningOn,
.truck-electricOn.yes .truck-differentialLock,
.truck-electricOn.yes .truck-parkBrakeOn,
.truck-electricOn.yes .truck-engineCheck,
.truck-electricOn.yes .truck-fuelWarningOn {
  visibility: visible;
}
.truck-odometer {
  color: white;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  left: 770px;
  top: 352px;
  width: 132px;
  height: 26px;
  padding-right: 25px;
  text-align: right;
  z-index: 1;
}

.truck-blinkerLeftOn.yes {
  background-color: #00FF21;
  position: absolute;
  left: 404px;
  top: 38px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-blinkerRightOn.yes {
  background-color: #00FF21;
  position: absolute;
  left: 911px;
  top: 38px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-lightsParkingOn.yes {
    background-color: #00FF21;
}
.truck-lightsParkingOn {
    position: absolute;
    background-color: #28281E;
    left: 782px;
    top: 693px;
    width: 38px;
    height: 19px;
    z-index: -1;
}
.truck-lightsBeamLowOn.yes {
    background-color: #00FF21;
}
.truck-lightsBeamLowOn {
    position: absolute;
    background-color: #28281E;
    left: 827px;
    top: 691px;
    width: 32px;
    height: 26px;
    z-index: -1;
}
.truck-lightsBeamHighOn.yes {
  background-color: #0026FF;
  opacity: 0.6;
  position: absolute;
  left: 565px;
  top: 38px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-airPressureWarningOn.yes {
  background-color: #FF0000;
  opacity: 0.6;
  position: absolute;
  left: 737px;
  top: 38px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-batteryVoltageWarningOn.yes {
  background-color: #FF0000;
  position: absolute;
  opacity: 0.6;
  left: 171px;
  top: 230px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-differentialLock.yes {
  background-color: #FFD800;
  opacity: 0.6;
  position: absolute;
  left: 1140px;
  top: 233px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-parkBrakeOn.yes {
  background-color: #FF0000;
  position: absolute;
  opacity: 0.6;
  left: 171px;
  top: 486px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-engineCheck.yes {
  background-color: #FF0000;
  position: absolute;
  opacity: 0.6;
  left: 1140px;
  top: 490px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-fuelWarningOn.yes {
  background-color: #FF0000;
  opacity: 0.6;
  position: absolute;
  left: 563px;
  top: 597px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-motorBrakeOn.yes {
  background-color: #00FF21;
  opacity: 0.6;
  position: absolute;
  left: 759px;
  top: 597px;
  width: 49px;
  height: 49px;
  border-radius: 50% 50% 50% 50%;
  z-index: -1;
}
.truck-cruiseControlOn {
	background-color: #222823;
	position: absolute;
	left: 863px;
	top: 689px;
	width: 31px;
	height: 26px;
	z-index: -1;
}
.truck-cruiseControlOn.yes {
	background-color: #267F00;
}
.truck-cruiseControlSpeedRounded,
.truck-cruiseControlSpeedRoundedMph {
    color: #2491b9;
    font-family: LCDMono;
    letter-spacing: 6px;
    font-size: 20px;
    position: absolute;
    visibility: hidden;
    left: 899px;
    top: 676px;
    width: 46px;
    height: 21px;
    text-align: center;
}
.truck-cruiseControlKph,
.truck-cruiseControlMph {
    color: #2491b9;
    font-family: LCDMono;
    letter-spacing: 6px;
    font-size: 20px;
    position: absolute;
    visibility: hidden;
	left: 900px;
	top: 707px;
	width: 49px;
	height: 26px;
}
.truck-wearCabin {
    position: absolute;
    background-color: #28281E;
    left: 422px;
    top: 685px;
    width: 35px;
    height: 35px;
    z-index: -1;
}

.truck-wearEngine {
    position: absolute;
    background-color: #28281E;
    left: 471px;
    top: 693px;
    width: 35px;
    height: 25px;
    z-index: -1;
}

.truck-wearChassis {
    position: absolute;
    background-color: #28281E;
    left: 556px;
    top: 691px;
    width: 29px;
    height: 25px;
    z-index: -1;
}

.truck-wearTransmission {
    position: absolute;
    background-color: #28281E;
    left: 515px;
    top: 685px;
    width: 32px;
    height: 33px;
    z-index: -1;
}

.truck-wearWheels {
    position: absolute;
    background-color: #28281E;
    left: 595px;
    top: 690px;
    width: 26px;
    height: 22px;
    z-index: -1;
}

.trailer-wearChassis {
    position: absolute;
    background-color: #28281E;
    left: 630px;
    top: 694px;
    width: 53px;
    height: 12px;
    z-index: -1;
}

.trailer-wearWheels {
    position: absolute;
    background-color: #28281E;
    left: 693px;
    top: 689px;
    width: 27px;
    height: 23px;
    z-index: -1;
}
.truck-wipersOn {
    position: absolute;
    background-color: #28281E;
    left: 742px;
    top: 691px;
    width: 32px;
    height: 26px;
    z-index: -1;
}
.truck-wipersOn.yes {
	background-color: white;
}
